.site-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__title {
    color: #262626;
    font-size: 14px;
  }

  &__tip {
    color: #8c8c8c;
    font-size: 14px;
  }
}
