.site-form {
  &__inputs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 178px);
    grid-gap: 13px;
  }

  &__files-title {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 14px 0;
  }

  &__files {
    width: 152px;
  }

  &__dragger {
    margin-bottom: 13px;
  }

  &__radio-title {
    display: block;
    color: #262626;
    font-size: 14px;
    margin-bottom: 4px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    margin-bottom: 20px;
  }

  .ant-upload-text {
    color: #262626 !important;
    font-family: Roboto;
    font-size: 14px !important;
  }

  .ant-upload-hint {
    color: #8c8c8c !important;
    font-family: Roboto;
    font-size: 12px !important;
  }
}
