.fns-registration {
  &__content {
    background: #fff;
    padding: 22px 64px 57px 38px;
  }

  &__contorls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__control-items {
    display: flex;
  }

  &__control {
    margin: 0 2px;
  }

  &__search {
    max-width: 363px;
    width: 100%;
    padding-left: 31px;
    background: url("/images/search-icon.svg") #fff no-repeat 12px center / 14px;
  }

  &__controls-divider {
    width: 2px;
    background-color: #e8e8e8;
    margin: 0 22px;
  }

  &__button-filter {
    margin-right: 6px;
  }
}
