.site-breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__back {
    background: transparent;
    border: none;
    margin-right: 10px;
    box-shadow: none;
  }
}
